<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.walkzhoushan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <!--获取wifi网络状态的信息 -->
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name_ch"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity android:name=".WelcomeActivity" /> -->
        <activity android:name=".StartPageActivity" />
        <activity android:name=".Bottombartest" />
        <activity android:name=".Mine_Friend" />
        <activity android:name=".NoDevelop" />
        <activity android:name=".AccountSetting" />
        <activity android:name=".Setting" />
        <activity android:name=".MyOrder" />
        <activity android:name=".ChangePassword" />

        <!-- register point activity -->
        <activity android:name=".PointActivity" />
        <activity
            android:name=".PointPageActivity"
            android:label="景点" />

        <!-- register homepage some activity -->
        <activity android:name=".Home_Traffic_activity"/>
        <activity android:name=".Home_Cate_activity"/>
        <activity android:name=".Home_Hotel_activity"/>
        <activity android:name=".Point_putuoshan"/>
        <activity android:name=".Strategy_Pujisi"/>
        <activity android:name=".Home_Strategy"/>

        <!-- register travelnote activity -->
        <activity android:name=".TravelNoteActivity2" />
        <activity android:name=".Travelnote_add"/>
        <activity android:name=".Travelnote_addtext"/>
        <activity android:name=".Travelnote_Putuoshan"/>


        <activity
            android:name=".Needknow_ScrollingActivity"
            android:label="旅游须知" />
        <!--<activity-->
        <!--android:namLoginActivityMaterialDesignvity"-->
        <!--android:label="@string/title_activity_login"></activity>-->


        <!--MinePage Activity Register-->

        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".ForgetActivity"/>

        <activity android:name=".Mine_Coupon_Activity"/>
        <activity android:name=".MyInfomationActivity"/>
        <activity android:name=".Mine_History"/>
        <activity android:name=".Mine_MyTravelNote"/>
        <activity android:name=".Settng_help"/>
        <activity android:name=".Setting_about"/>

        <!--message register-->
        <activity android:name=".MsgActivity"/>

        <!--login activity-->

    </application>

</manifest>